{% extends 'main.html' %}

{% block title %}
<title> Collect Data </title>
{% endblock title %}

{% block body %}
<h1 class="text-center">Collect Data Page</h1>
<form class="my-4", method="POST", action="/collectdata">
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputfullname4">Full Name</label>
        <input type="fullname" class="form-control" id="inputfullname4" name='fullname'>
      </div>
      </div>
      <div class="form-row">
      <div class="form-group col-md-1">
        <label for="inputisdcode">ISD Code</label>
        <input type="text" class="form-control" id="inputisdcode" placeholder="+91" name='isdcode'>
      </div>
      <div class="form-group col-md-4">
        <label for="inputmobileno">Mobile No</label>
        <input type="text" class="form-control" id="inputmobileno" name='mobileno'>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputemail">Email</label>
        <input type="text" class="form-control" id="inputemail" name='email'>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock body %}